<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/59b552562a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo">
             <div><p>Lugar para poner la barra de busqueda</p></div>
            <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas sin tarjeta de crédito</h2>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars burger"></i>
        </div>

        <nav class="main-navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>    
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>    
        </nav>
    </header>
    
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Ofertas">
    </section>

    <main>
        <section class="last-visit">
            <h3>Basado en tu ultima visita</h3>
            <article>
                <img class="images" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <ddiv class="article"iv>
                    <i class="fas fa-truck"></i>
                    <p class="price">$ 6770</p>
                    <p class="discount">40% OFF</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </ddiv>        
            </article>
            <article>
                <img class="images" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$ 230000</p>
                    <p class="discount">20% OFF</p>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img class="images" src="/images/img-samsung-galaxy-s10.jpg" alt="S10">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$ 70500</p>
                    <p class="discount">10% OFF</p>
                    <h4 class="description">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img class="images" src="/images/img-tv-samsung-smart.jpg" alt="SmartTV">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$ 23200</p>
                    <p class="discount">5% OFF</p>
                    <h4 class="description">SmartTV Samsung 43"</h4>
                </div>
            </article>
        </section>

        <section class="offers">
            <h3>Ofertas</h3>
            <article>
                <img class="images" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$ 6770</p>
                    <p class="discount">40% OFF</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img class="images" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$ 230000</p>
                    <p class="discount">20% OFF</p>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img class="images" src="/images/img-samsung-galaxy-s10.jpg" alt="S10">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$ 70500</p>
                    <p class="discount">10% OFF</p>
                    <h4 class="description">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img class="images" src="/images/img-tv-samsung-smart.jpg" alt="SmartTV">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$ 23200</p>
                    <p class="discount">5% OFF</p>
                    <h4 class="description">SmartTV Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h4> Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <article>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>

</html>