<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Crea Tu Usuario</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/59b552562a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo">
            <div class="search-box">
                <input type="search" id="search" name="search">
                <button><i class="fas fa-search"></i></button>
            </div>
            <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas sin tarjeta de crédito</h2>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars burger"></i>
        </div>

        <nav class="main-navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>    
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>    
        </nav>
    </header>
    
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Ofertas">
    </section>

    <main>
        <section class="register-and-login">
            <div>
                <label>Ingrese Usuario y Contraseña</label>
            </div>
            <div>
                <input type="text" name="user" id="user" placeholder="Usuario">
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            <div>
                <a href="#" class="login-registro-link">Olvidaste tu contraseña?</a>
            </div>
            <div class="login-registro-checkbox">
                <input type="checkbox" name="conectado" id="conectado">
                <label>Permanecer Conectado</label>
            </div>
            <div>
                <button type="submit">Ingresar</button>
            </div>
        </section>

    </main>
    <footer>
        <section>
            <article>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h4> Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>